* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 16px;
} */

body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding-top: 2vh;
    /* font-size: calc(14px+(26-14)*((100vw-300px)/(1600-300))); */
}

.container1 {
    padding-top: 2vh;
    height: 85vh;
    width: 25%;
    margin: auto;
    border: 0.5px solid rgb(102, 102, 240);
    box-shadow: rgba(0, 0, 255, 0.2) 0px 7px 29px 0px;
    background: rgb(231, 231, 231);
    border-radius: 3px;
}

.container2 {
    /* height: 70vh; */
    background-color: rgb(231, 231, 231);
}

.burger {
    border: 2px solid rgb(231, 231, 231);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.first-line {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.burger .middle-line, .first-line, .last-line {
    position: absolute;
    width: 25px;
    height: 2px;
    background: #181c1f;
    border-radius: 1px;
}

.last-line {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.icon {
    position: relative;
    display: flex;
    height: 30px;
    /* background-color: yellow; */
}

.icon h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    color: rgb(37, 36, 33);
    font-size: 1rem;
}

.fa-history {
    position: absolute;
    right: 0;
    padding: 10px;
}

.fa-bars {
    padding: 0 40px 0 10px;
}

input {
    height: 15vh;
    width: 100%;
    outline: none;
    border: none;
    font-size: 40px;
    text-align: right;
    background-color: rgb(231, 231, 231);
    padding-left: 2%;
    padding-right: 2%;
}

.sign-rule {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 50%;
    /* background-color: orangered; */
    /* border:2px solid blue; */
}

.sign-rule .margin {
    margin-left: 1%;
}

.sign {
    display: flex;
    justify-content: space-around;
    height: 30px;
    /* background-color: rgb(89, 0, 255); */
    margin-top: 10px;
}

.sign button {
    border: none;
    background: rgb(231, 231, 231);
    /* background-color: ; */
}

.numbers {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 1%;
    margin-right: 1%;
    height: 50vh;
    border: 2px solid rgb(231, 231, 231);
    /* background-color: pink; */
}

.numbers .btn {
    font-size: 0.9em;
}

.btn {
    background-color: #f0efeb;
    border: 2px solid rgb(231, 231, 231);
    /* border-style: outset; */
}

  .focus {
    
    
    border-color: blue;
    
  }


.btn:hover {
    background-color: rgb(221, 210, 210);
    color: black;
}

.btn1 {
    background-color: #faf9f5;
    border: 2px solid rgb(231, 231, 231);
    font-size: large;
}

.btn1:hover {
    background-color: rgb(221, 210, 210);
}

@media only screen and (max-width: 1024px) {
    .container1 {
        height: 85vh;
        width: 50%;
        margin: auto;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media only screen and (max-width:670px) {
    .container1 {
        height: 85vh;
        width: 80%;
        margin: auto;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        padding-left: 1%;
        padding-right: 1%;
    }
}