*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    /* display: flex;
    position: relative;
    grid-template-columns: auto auto; */
    height: 100vh;
    background-color: rgb(204, 204, 204);
    padding: 3% 0 0 10%;    
}


#card1{
    width: 35%;
    height: 700px;
    background-color: rgb(14, 9, 34);
    margin-left: 25%;
    border-radius: 15px;
    position: relative;
    /* margin-right: 30px; */
    
}
.item1{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    /* background-color: cyan; */
}
.picture1{
    height: 100px;
    width: 100px;
    background-image: url(../img/bae2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 38%;
    border-radius: 50%;
}
.middle-item1{
    height: 200px;
    width: 247px;
    /* background-color: magenta; */
    position: absolute;
    top: 20%;
    left: 33%;
    padding: 0 43px 0 10px;
    
}
h2, h6, p{
    margin-bottom: 5px;
    color: white;
    /* font-size: 15px; */
    
}
h2{
    color: white;
    
}
p{
    margin-left: 5px;
}
.hire{
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    background: linear-gradient(to right, rgb(156, 18, 156), rgb(240, 75, 157));
    
}

#card2{
    width: 33%;
    height: 700px;
    background-color: white;
    /* margin-right: 40px; */
    border-radius: 15px;
    position: relative;
    margin-left: 25%;
    /* display: none; */
    

}
.item2{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    /* background-color: cyan; */
}
.picture2{
    height: 100px;
    width: 100px;
    background-image: url(../img/bae2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 38%;
    border-radius: 50%;
}
h1{
    border-bottom: 1px solid rgb(84, 67, 153);
    width: 90%;
    margin-left: 20px;
    position: absolute;
    top: 50%;
}
.box1{
    height: 80px;
    width: 80px;
    margin-left: 10px;
    /* position: absolute;
    top: 70%;
    left: 0; */
    background-color: rgb(214, 20, 69);
    border-radius: 50%;
}
.main-cont{
    display: flex;
    position: relative;
    top: 60%;
    left: 0;
}
.cont1{
    height: 150px;
    width: 100px;
    /* background-color: green; */
    /* position: relative;
    top: 60%;
    left: 0; */
}
.cont1 p, .cont2 p, .cont3 p{
    margin-left: 20px;
}
.cont1, .cont2, .cont3{
    margin-left: 60px;
}
.cont2{
    height: 150px;
    width: 100px;
    /* background-color: yellow; */
}
.box2{
    height: 80px;
    width: 80px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgb(28, 83, 185);
}

.cont3{
    height: 150px;
    width: 100px;
    /* background-color: teal; */
}
.box3{
    height: 80px;
    width: 80px;
    background-color: rgb(124, 52, 190);
    margin-left: 10px;
    border-radius: 50%;
}

.middle-item2{
    height: 200px;
    width: 247px;
    /* background-color: magenta; */
    position: absolute;
    top: 20%;
    left: 33%;
    padding: 0 43px 0 10px;
    
}
.main-cont1{
    display: flex;
    position: relative;
    top: 60%;
    left: 0;
}

.fa-heart-o, .fa-ellipsis-v{
    position: absolute;
    right: 3%;
    margin-top: 8px;
    /* color: white; */
    
}
.fa-heart-o{
    margin-right: 20px;    
}
.fa-arrow-left{
    margin-top: 8px;
    margin-left: 10px;
    /* color: white; */

}
.fa-dribbble, .fa-behance, .fa-vine{
    padding: 15px;
    color: white;
}
.fa-check{
    background-color: yellow;
    margin-top: 65px;
    margin-left: 87px;
    border-radius: 50%;
    color: white;
    background: linear-gradient(to right, rgb(156, 18, 156), rgb(240, 75, 157));
}

.item1 .fa-heart-o, .item1 .fa-ellipsis-v, .item1 .fa-arrow-left{
    color: white
}

.main-cont1 .cont1 p, .main-cont1 .cont2 p, .main-cont1 .cont3 p{
    color: black;
}
.middle-item2 h2, .middle-item2 p{
    color: black;
}
.middle-item1 h6, .middle-item2 h6{
    color: rgb(102, 111, 151);
}

.container .click{
    position: absolute;
    top: 5%;
    left: 0;
    height: 30px;
    width: 100px;
}

/* @media only screen and (max-width: 550px){
    
    .card1{
        width: 90%;
        height: 500px;
        position: absolute;
        top: 10%;
        left: 0;
        background-color: rgb(14, 9, 34);
        margin-left: 20px;
        border-radius: 15px;
        
    }
    .card2{
        width: 90%;
        height: 500px;
        background-color: white;
        margin-right: 40px;
        border-radius: 15px;
        position: absolute;
        top: 100%;
        left: 0;
        margin-left: 100px;
    
    }
    
} */

.first{
    /* width: 35%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    margin-left: 40px;
    border-radius: 15px;
    position: relative;
    margin-right: 30px; */
    display: none;
}




    

 .second{
    width: 35%;
    height: 700px;
    background-color: white;
    margin-right: 40px;
    border-radius: 15px;
    position: relative;
    margin-left: 100px;
    display: block;
 }


 